* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f0f0f0;
}

#app-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem;
  text-align: center;
  background-color: #333;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
}

.home-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home-container .home-container-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-start: 3rem;
  margin-inline: auto;
  max-width: 600px;
  text-align: center;
}

.home-container .home-container-content .home-container-title {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #333;
}

.home-container .home-container-content .home-container-description {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #333;
}

.home-container .random-ship-placement-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 3rem;
}

.home-container .random-ship-placement-container .board-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-container .random-ship-placement-container .board-section .board-header {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.home-container
  .random-ship-placement-container
  .board-section
  .board-container {
  display: flex;
  flex-direction: column;
}

.home-container .action-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block-start: 3rem;
}

.home-container .action-buttons-container .action-button {
  width: 120px;
  height: 40px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.home-container .action-buttons-container .action-button.shuffle:hover {
  background-color: #333;
  color: #fff;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.5);
}

.home-container .action-buttons-container .action-button.play:hover {
  background-color: #333;
  color: #fff;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.5);
}

.game-over-message {
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #333;
  text-align: center;
  margin-block-start: 3rem;
}

.boards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-block-start: 3rem;
}

.boards-container .board-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.boards-container .board-section .board-header {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.boards-container .board-section .board-container {
  display: flex;
  flex-direction: column;
}

.board-container .row-container {
  display: flex;
}

.board-container .row-container .cell-container {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-container .row-container .cell-container:not(:last-child) {
  border-right: none;
}

.board-container .row-container:not(:last-child) .cell-container {
  border-bottom: none;
}

.board-container .row-container .cell-container.empty {
  background-color: #fff;
}

.board-container .row-container .cell-container.ship {
  background-color: #88f791;
}

.board-container .row-container .cell-container.hit {
  background-color: #f59c9c;
}

.board-container .row-container .cell-container.miss {
  background-color: #7fa9f7;
}

.board-container .row-container .cell-container.sunk {
  background-color: #7a7676;
}

.my-board .board-container .row-container .cell-container {
  cursor: default;
}

.opponent-board .board-container .row-container .cell-container {
  cursor: pointer;
}

.opponent-board .board-container .row-container .cell-container.hit,
.opponent-board .board-container .row-container .cell-container.miss,
.opponent-board .board-container .row-container .cell-container.sunk {
  cursor: default;
  pointer-events: none;
}

.action-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 3rem;
}

.action-buttons-container .action-button {
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.action-buttons-container .action-button.play-again:hover {
  background-color: #333;
  color: #fff;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.5);
}
